*{
    box-sizing: border-box;
} 

body{
    background-color: #DBE2DC;
}

.fill_btn{ 
  border: 1px solid rgba(255, 255, 255, 0);
  background-color: #335765;
  padding: 6px 15px;
  border-radius: 5px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  font-weight: 500;
}

.fill_btn:hover{
  background: white;
  color: #335765;
  border: 1px solid #335765;
  transition: all 0.5s;
}
.border_btn{ 
  border: 1px solid #335765;
  background-color: #ffffff;
  padding: 6px 15px;
  border-radius: 5px;
  font-size: 16px;
  color: #335765;
  cursor: pointer;
  font-weight: 500; 
}

.border_btn:hover{
  background: #335765;
  color: #ffffff;
  border: 1px solid #00000000;
  transition: all 0.5s;
}

.hide_scrollbar{
  scrollbar-width: none; 
  -ms-overflow-style: none
}