*{
  box-sizing: border-box;
}  

body{
  background-color: #DBE2DC;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

label {
  color: #2D3436;
}

.textfield_bg_color{
  background-color: #f3f6f3;
  border-radius: 3px;
}

.fill_btn{ 
  border: 1px solid rgba(255, 255, 255, 0); 
  background-color: #009E9A;
  padding: 6px 15px;
  border-radius: 5px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  font-weight: 500;
}

.fill_btn:hover{
  background: white;
  color: #007F7C;
  border: 1px solid #007F7C; 
  transition: all 0.5s;
}
.border_btn{ 
  border: 1px solid #007F7C;
  background-color: #ffffff;
  padding: 6px 15px;
  border-radius: 5px;
  font-size: 16px;
  color: #007F7C;
  cursor: pointer;
  font-weight: 500; 
}

.border_btn:hover{
  background: #007F7C; 
  color: #ffffff;
  border: 1px solid #00000000;
  transition: all 0.5s;
}
.delete_btn{  
  background-color: #e4090952;
  padding: 8px 10px;
  border-radius: 5px;
  font-size: 16px;
  color: #ec0707;
  cursor: pointer;
  font-weight: 500; 
}

.delete_btn:hover{
  background: #ef0404;
  color: #ffffff; 
  transition: all 0.5s;
}
.add_btn{  
  background-color: #009e995b;
  padding: 8px 10px;
  border-radius: 5px;
  font-size: 16px;
  color: #009E9A;
  cursor: pointer;
  font-weight: 500; 
}

.add_btn:hover{
  background: #009E9A;
  color: #ffffff; 
  transition: all 0.5s;
}

.hide_scrollbar{
  scrollbar-width: none; 
  -ms-overflow-style: none
}

.MuiOutlinedInput-root fieldset { 
  border-color: #B2BEC3;  
}